<h1>Listing pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Permalink</th>
    <th>Status</th>
    <th>Active</th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%=h page.title %></td>
    <td><%=h page.description %></td>
    <td><%=h page.permalink %></td>
    <td><%=h page.status %></td>
    <td><%=h page.active %></td>
    <td><%= link_to 'Show', page %></td>
  </tr>
<% end %>
</table>