<p>
  <b>Title:</b>
  <%=h @page.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @page.description %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @page.permalink %>
</p>

<p>
  <b>Status:</b>
  <%=h @page.status %>
</p>

<p>
  <b>Active:</b>
  <%=h @page.active %>
</p>


<%= link_to 'Back', pages_path %>